In [42]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(rc={'figure.figsize':(6,6)})
%matplotlib inline
import warnings
warnings.simplefilter("ignore")

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
df = pd.read_csv("../data/compas-scores-two-years.csv")
df.shape
df.head()

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,c_jail_in,c_jail_out,c_case_number,c_offense_date,c_arrest_date,c_days_from_compas,c_charge_degree,c_charge_desc,is_recid,r_case_number,r_charge_degree,r_days_from_arrest,r_offense_date,r_charge_desc,r_jail_in,r_jail_out,violent_recid,is_violent_recid,vr_case_number,vr_charge_degree,vr_offense_date,vr_charge_desc,type_of_assessment,decile_score.1,score_text,screening_date,v_type_of_assessment,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,two_year_recid
0,1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,0,1,0,0,0,-1.0,2013-08-13 06:03:42,2013-08-14 05:41:20,13011352CF10A,2013-08-13,NaN,1.0,F,Aggravated Assault w/Firearm,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,Risk of Recidivism,1,Low,2013-08-14,Risk of Violence,1,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0,0
1,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,0,3,0,0,0,-1.0,2013-01-26 03:45:27,2013-02-05 05:36:53,13001275CF10A,2013-01-26,NaN,1.0,F,Felony Battery w/Prior Convict,1,13009779CF10A,(F3),NaN,2013-07-05,Felony Battery (Dom Strang),NaN,NaN,NaN,1,13009779CF10A,(F3),2013-07-05,Felony Battery (Dom Strang),Risk of Recidivism,3,Low,2013-01-27,Risk of Violence,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,1
2,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,0,4,0,1,4,-1.0,2013-04-13 04:58:34,2013-04-14 07:02:04,13005330CF10A,2013-04-13,NaN,1.0,F,Possession of Cocaine,1,13011511MM10A,(M1),0.0,2013-06-16,Driving Under The Influence,2013-06-16,2013-06-16,NaN,0,NaN,NaN,NaN,NaN,Risk of Recidivism,4,Low,2013-04-14,Risk of Violence,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,1
3,5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,0,8,1,0,1,NaN,NaN,NaN,13000570CF10A,2013-01-12,NaN,1.0,F,Possession of Cannabis,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,Risk of Recidivism,8,High,2013-01-13,Risk of Violence,6,Medium,2013-01-13,NaN,NaN,1,0,1174,0,0
4,6,bouthy pierrelouis,bouthy,pierrelouis,2013-03-26,Male,1973-01-22,43,25 - 45,Other,0,1,0,0,2,NaN,NaN,NaN,12014130CF10A,NaN,2013-01-09,76.0,F,arrest case no charge,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,Risk of Recidivism,1,Low,2013-03-26,Risk of Violence,1,Low,2013-03-26,NaN,NaN,2,0,1102,0,0

In [44]:
pd.set_option('max_columns',53)

df = df.drop(['first','last','c_offense_date',
         'r_offense_date','is_violent_recid','type_of_assessment',
         'score_text','v_type_of_assessment',"v_score_text",'v_screening_date',
         'in_custody','out_custody','c_case_number','c_days_from_compas',
         'is_recid','r_case_number','r_days_from_arrest','r_jail_in','r_jail_out',
         'violent_recid','vr_case_number','vr_charge_degree','vr_offense_date',
         'screening_date','days_b_screening_arrest','c_arrest_date','name',
         'compas_screening_date','id','dob','c_jail_in','c_jail_out', 'age',
         'priors_count.1', 'decile_score.1', 'r_charge_degree'],axis=1)
df.shape

(7214, 17)

In [45]:
nums = df.select_dtypes(np.number).fillna(0)

In [46]:
print(nums.shape)
nums.head()
nums.drop(['start','end'],axis=1)
nums.reset_index()
nums.tail(20)

(7214, 10)

,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,v_decile_score,start,end,event,two_year_recid
7194,0,1,0,0,2,1,1,351,1,1
7195,0,7,0,0,8,4,62,393,1,1
7196,0,1,0,0,0,1,0,938,0,0
7197,0,2,0,0,1,2,0,764,0,0
7198,0,5,0,0,4,3,0,653,0,0
7199,0,8,0,0,0,6,2,913,0,0
7200,0,7,0,0,0,7,4,22,1,1
7201,0,10,1,0,19,7,9,144,1,1
7202,0,2,0,0,0,3,173,322,0,0
7203,0,3,0,0,0,1,0,887,0,0
7204,0,4,0,0,2,3,5,825,0,0
7205,0,10,2,1,5,9,0,52,0,1
7206,0,6,0,0,0,7,2,654,1,1
7207,0,2,0,0,0,2,0,529,1,1
7208,0,9,0,0,0,9,0,169,0,0
7209,0,7,0,0,0,5,1,860,0,0
7210,0,3,0,0,0,5,1,790,0,0
7211,0,1,0,0,0,1,0,808,0,0
7212,0,2,0,0,3,2,0,754,0,0
7213,0,4,0,0,2,4,0,258,0,1

In [47]:
obj = df.select_dtypes(object)
obj = obj.drop(['r_charge_desc','c_charge_desc','vr_charge_desc'],axis=1)
obj

         sex          age_cat              race c_charge_degree
0       Male  Greater than 45             Other               F
1       Male          25 - 45  African-American               F
2       Male     Less than 25  African-American               F
3       Male     Less than 25  African-American               F
4       Male          25 - 45             Other               F
...      ...              ...               ...             ...
7209    Male     Less than 25  African-American               F
7210    Male     Less than 25  African-American               F
7211    Male  Greater than 45             Other               F
7212  Female          25 - 45  African-American               M
7213  Female     Less than 25          Hispanic               F

[7214 rows x 4 columns]

In [48]:
obj_binary = pd.get_dummies(obj,
                            dtype="int64",
                            drop_first = False
).reset_index()

In [49]:
obj_binary.shape

(7214, 14)

In [50]:
df_clean = pd.concat([obj_binary, nums], axis = 1)

In [51]:
df_clean.head()
df_clean = df_clean.drop(['start','end','event'],axis=1)

In [52]:
df_clean.head()

,index,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,race_African-American,race_Asian,race_Caucasian,race_Hispanic,race_Native American,race_Other,c_charge_degree_F,c_charge_degree_M,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,v_decile_score,two_year_recid
0,0,0,1,0,1,0,0,0,0,0,0,1,1,0,0,1,0,0,0,1,0
1,1,0,1,1,0,0,1,0,0,0,0,0,1,0,0,3,0,0,0,1,1
2,2,0,1,0,0,1,1,0,0,0,0,0,1,0,0,4,0,1,4,3,1
3,3,0,1,0,0,1,1,0,0,0,0,0,1,0,0,8,1,0,1,6,0
4,4,0,1,1,0,0,0,0,0,0,0,1,1,0,0,1,0,0,2,1,0

In [53]:
df_clean = df_clean.drop(['race_Asian','race_Hispanic','race_Native American','race_Other'],axis=1)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
df_clean.head()

,index,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,race_African-American,race_Caucasian,c_charge_degree_F,c_charge_degree_M,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,v_decile_score,two_year_recid
0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,1,0
1,1,0,1,1,0,0,1,0,1,0,0,3,0,0,0,1,1
2,2,0,1,0,0,1,1,0,1,0,0,4,0,1,4,3,1
3,3,0,1,0,0,1,1,0,1,0,0,8,1,0,1,6,0
4,4,0,1,1,0,0,0,0,1,0,0,1,0,0,2,1,0

In [54]:
aay = df_clean[df_clean['race_African-American'] == 1].two_year_recid
aaX = df_clean[df_clean['race_African-American'] == 1].drop('two_year_recid',axis=1)
X_train, X_test, y_train, y_test = train_test_split(aaX, aay,
                                                    test_size=0.2,
                                                    random_state=42)

In [55]:
model = LogisticRegression(class_weight = 'balanced')

In [56]:
from sklearn.model_selection import cross_val_score
cross_val_score(
    model, aaX, aay, scoring = "precision", cv = 10
).mean()

0.6917781431989889

In [57]:
cross_val_score(
    model, aaX, aay, scoring = "recall", cv = 10
).mean()

0.640702672912648

In [58]:
cross_val_score(
    model, aaX, aay, scoring = "accuracy", cv = 10
).mean()

0.667478942356991

In [59]:
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [60]:
predictions = model.predict(X_test)
predct_prob  = model.predict_proba(X_test)
predct_prob = predct_prob[:,0]
true_classes = y_test

In [61]:
from sklearn.metrics import confusion_matrix
confusion_matrix(true_classes, predictions)

array([[254, 117],
       [125, 244]], dtype=int64)

In [62]:
X_test.count()

index                      740
sex_Female                 740
sex_Male                   740
age_cat_25 - 45            740
age_cat_Greater than 45    740
age_cat_Less than 25       740
race_African-American      740
race_Caucasian             740
c_charge_degree_F          740
c_charge_degree_M          740
juv_fel_count              740
decile_score               740
juv_misd_count             740
juv_other_count            740
priors_count               740
v_decile_score             740
dtype: int64

In [63]:
print('The false positive rate for African-Americans is: ' + str(117/740))

The false positive rate for African-Americans is: 0.1581081081081081

In [64]:
print('The false negative rate for African-Americans is: ' + str(125/740))

The false negative rate for African-Americans is: 0.16891891891891891

In [65]:
df_clean.head(20)

,index,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,race_African-American,race_Caucasian,c_charge_degree_F,c_charge_degree_M,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,v_decile_score,two_year_recid
0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,1,0
1,1,0,1,1,0,0,1,0,1,0,0,3,0,0,0,1,1
2,2,0,1,0,0,1,1,0,1,0,0,4,0,1,4,3,1
3,3,0,1,0,0,1,1,0,1,0,0,8,1,0,1,6,0
4,4,0,1,1,0,0,0,0,1,0,0,1,0,0,2,1,0
5,5,0,1,1,0,0,0,0,0,1,0,1,0,0,0,1,0
6,6,0,1,1,0,0,0,1,1,0,0,6,0,0,14,2,1
7,7,0,1,1,0,0,0,0,1,0,0,4,0,0,3,3,0
8,8,1,0,1,0,0,0,1,0,1,0,1,0,0,0,1,0
9,9,0,1,0,0,1,0,1,1,0,0,3,0,0,1,5,1
10,10,0,1,1,0,0,0,1,1,0,0,4,0,0,0,4,0
11,11,0,1,0,0,1,1,0,0,1,0,6,0,0,3,4,1
12,12,1,0,1,0,0,0,1,0,1,0,1,0,0,0,1,0
13,13,0,1,1,0,0,1,0,1,0,0,4,0,0,0,2,0
14,14,1,0,0,1,0,0,1,1,0,0,1,0,0,1,1,1
15,15,0,1,1,0,0,1,0,1,0,0,3,0,0,7,2,1
16,16,0,1,1,0,0,0,0,0,1,0,1,0,0,0,1,0
17,17,0,1,1,0,0,1,0,1,0,0,10,0,0,3,9,0
18,18,0,1,1,0,0,0,1,1,0,0,5,0,0,6,4,1
19,19,0,1,1,0,0,0,1,1,0,0,3,0,0,5,2,1

In [66]:
cy = df_clean[df_clean['race_Caucasian'] == 1].two_year_recid
cX = df_clean[df_clean['race_Caucasian'] == 1].drop('two_year_recid',axis=1)
cX_train, cX_test, cy_train, cy_test = train_test_split(cX, cy,
                                                    test_size=0.2,
                                                    random_state=42)

In [67]:
model = LogisticRegression(class_weight = 'balanced')

In [68]:
from sklearn.model_selection import cross_val_score
cross_val_score(
    model, cX, cy, scoring = "precision", cv = 10
).mean()

0.5781365772293058

In [69]:
cross_val_score(
    model, cX, cy, scoring = "recall", cv = 10
).mean()

0.6128114261168385

In [70]:
model.fit(cX_train, cy_train)
predictions = model.predict(cX_test)
predct_prob  = model.predict_proba(cX_test)
predct_prob = predct_prob[:,0]
true_classes = cy_test

In [71]:
confusion_matrix(true_classes, predictions)

array([[194,  87],
       [ 84, 126]], dtype=int64)

In [72]:
cX_test.count()

index                      491
sex_Female                 491
sex_Male                   491
age_cat_25 - 45            491
age_cat_Greater than 45    491
age_cat_Less than 25       491
race_African-American      491
race_Caucasian             491
c_charge_degree_F          491
c_charge_degree_M          491
juv_fel_count              491
decile_score               491
juv_misd_count             491
juv_other_count            491
priors_count               491
v_decile_score             491
dtype: int64

In [73]:
print('The false positive rate for Caucasians is: ' + str(87/491))

The false positive rate for Caucasians is: 0.17718940936863545

In [74]:
print('The false negative rate for Caucasians is: ' + str(84/491))

The false negative rate for Caucasians is: 0.1710794297352342