In [165]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.preprocessing import normalize
from sklearn.impute import SimpleImputer

from sklearn.ensemble import BaggingRegressor # default classifier is a DT
from sklearn.ensemble import AdaBoostRegressor
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestRegressor
from mlxtend.regressor import StackingRegressor

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import SCORERS

import seaborn as sns
sns.set(rc={'figure.figsize':(6,6)}) 
import warnings
warnings.simplefilter("ignore")

%matplotlib inline

# Using Two Year Data

In [166]:
df = pd.read_csv("data/compas-scores-two-years.csv")

In [167]:
pd.set_option('max_columns', 53)

In [168]:
#drop unecessary columns
drop_columns = ['compas_screening_date', 'juv_fel_count',
                'juv_misd_count','c_case_number','vr_charge_degree',
                'vr_offense_date','vr_charge_desc','c_arrest_date',
                'r_case_number', 'vr_case_number','start',
                'juv_other_count','days_b_screening_arrest','c_days_from_compas',
                'first','last','name','dob','c_jail_in','c_jail_out','c_offense_date',
                'c_charge_degree','c_charge_desc','r_charge_degree','r_days_from_arrest',
                'r_offense_date','r_charge_desc','r_jail_in','r_jail_out','violent_recid',
                'score_text','screening_date','v_score_text','v_screening_date','in_custody',
                'out_custody','id','end','type_of_assessment','v_type_of_assessment',
               'is_recid','is_violent_recid','event']
df = df.drop(drop_columns,axis=1)

In [169]:
df.head()

,sex,age,age_cat,race,decile_score,priors_count,decile_score.1,v_decile_score,priors_count.1,two_year_recid
0,Male,69,Greater than 45,Other,1,0,1,1,0,0
1,Male,34,25 - 45,African-American,3,0,3,1,0,1
2,Male,24,Less than 25,African-American,4,4,4,3,4,1
3,Male,23,Less than 25,African-American,8,1,8,6,1,0
4,Male,43,25 - 45,Other,1,2,1,1,2,0

In [170]:
df.count()

sex               7214
age               7214
age_cat           7214
race              7214
decile_score      7214
priors_count      7214
decile_score.1    7214
v_decile_score    7214
priors_count.1    7214
two_year_recid    7214
dtype: int64

In [171]:
#only looking at african american vs caucasian, make every other race = other
df.race = df.race.replace({
    'Asian':'Other',
    'Hispanic':'Other',
    'Native American':'Other'
})

In [172]:
categorical_cols = df.select_dtypes(exclude=np.number).columns
numerical_cols = df.select_dtypes(np.number).columns

In [173]:
#taking care of nan in numerical columns
numerical = pd.DataFrame(
    SimpleImputer(strategy="median").fit_transform(df[numerical_cols]),
    columns=numerical_cols
)
numerical.head()

,age,decile_score,priors_count,decile_score.1,v_decile_score,priors_count.1,two_year_recid
0,69.0,1.0,0.0,1.0,1.0,0.0,0.0
1,34.0,3.0,0.0,3.0,1.0,0.0,1.0
2,24.0,4.0,4.0,4.0,3.0,4.0,1.0
3,23.0,8.0,1.0,8.0,6.0,1.0,0.0
4,43.0,1.0,2.0,1.0,1.0,2.0,0.0

In [174]:
#dealing with categorical columns to prepare for sklearn
categorical = pd.get_dummies(df[categorical_cols])
categorical.head()

,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,race_African-American,race_Caucasian,race_Other
0,0,1,0,1,0,0,0,1
1,0,1,1,0,0,1,0,0
2,0,1,0,0,1,1,0,0
3,0,1,0,0,1,1,0,0
4,0,1,1,0,0,0,0,1

In [175]:
#combining categorical and numerical columns to make final dataframe
df_new = pd.merge(numerical, categorical, left_index=True, right_index=True)
df_new.head()

,age,decile_score,priors_count,decile_score.1,v_decile_score,priors_count.1,two_year_recid,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,race_African-American,race_Caucasian,race_Other
0,69.0,1.0,0.0,1.0,1.0,0.0,0.0,0,1,0,1,0,0,0,1
1,34.0,3.0,0.0,3.0,1.0,0.0,1.0,0,1,1,0,0,1,0,0
2,24.0,4.0,4.0,4.0,3.0,4.0,1.0,0,1,0,0,1,1,0,0
3,23.0,8.0,1.0,8.0,6.0,1.0,0.0,0,1,0,0,1,1,0,0
4,43.0,1.0,2.0,1.0,1.0,2.0,0.0,0,1,1,0,0,0,0,1

# Now that the dataframe is clean, use ensemble methods

#### Identifying variables

In [176]:
target_variable = 'two_year_recid'
independent_variables = df_new.drop(columns=target_variable).columns
X = df_new[independent_variables]
y = df_new[target_variable]

#### Adding a variety of models to the results dictionary to pick out the most accurate

In [177]:
def evaluate_model(estimator):
    cv_results = cross_validate(estimator, X, y, scoring='accuracy', n_jobs=-1, cv=10, return_train_score=True)
    return pd.DataFrame(cv_results).abs().mean().to_dict()

def display_results(results):
    results_df  = pd.DataFrame(results).T
    results_cols = results_df.columns
    for col in results_df:
        results_df[col] = results_df[col].apply(np.mean)
    return results_df

In [178]:
RESULTS = {}

In [179]:
#testing decision tree and logistic regression, and adding them to results df
RESULTS["tree"] = evaluate_model(DecisionTreeClassifier())
RESULTS["log_reg"] = evaluate_model(LogisticRegression())

pd.DataFrame.from_dict(RESULTS).T

         fit_time  score_time  test_score  train_score
tree     0.034905    0.002793    0.610203     0.932492
log_reg  0.107414    0.002397    0.679091     0.680405

In [180]:
#testing bagging classifier with 10 estimators
from sklearn.ensemble import BaggingRegressor, BaggingClassifier
estimator_bagging_10 = BaggingClassifier(n_estimators=10)
RESULTS["bagging_tree_10"] = evaluate_model(estimator_bagging_10)
display_results(RESULTS)

                 fit_time  score_time  test_score  train_score
tree             0.034905    0.002793    0.610203     0.932492
log_reg          0.107414    0.002397    0.679091     0.680405
bagging_tree_10  0.243349    0.007081    0.631135     0.916520

In [181]:
#testing bagging classifier with 100 estimators
estimator_bagging_100 = BaggingClassifier(n_estimators=100)
RESULTS["bagging_tree_100"] = evaluate_model(estimator_bagging_100)
display_results(RESULTS)

                  fit_time  score_time  test_score  train_score
tree              0.034905    0.002793    0.610203     0.932492
log_reg           0.107414    0.002397    0.679091     0.680405
bagging_tree_10   0.243349    0.007081    0.631135     0.916520
bagging_tree_100  2.295762    0.054757    0.635429     0.932477

In [182]:
#testing random forest classifier with 100 estimators
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
estimator_randomforest = RandomForestClassifier(n_estimators=100)

RESULTS["randomforest_100"] = evaluate_model(estimator_randomforest)
display_results(RESULTS)

                  fit_time  score_time  test_score  train_score
tree              0.034905    0.002793    0.610203     0.932492
log_reg           0.107414    0.002397    0.679091     0.680405
bagging_tree_10   0.243349    0.007081    0.631135     0.916520
bagging_tree_100  2.295762    0.054757    0.635429     0.932477
randomforest_100  0.946868    0.038300    0.644160     0.932431

In [183]:
#testing extra tree classifier as base estimator for the bagging classifier
from sklearn.tree import ExtraTreeClassifier

estimator_bagging_random_tree = BaggingClassifier(n_estimators=100,
                                    base_estimator=ExtraTreeClassifier())
RESULTS["bagging_random_tree"] = evaluate_model(estimator_bagging_random_tree)
display_results(RESULTS)

                     fit_time  score_time  test_score  train_score
tree                 0.034905    0.002793    0.610203     0.932492
log_reg              0.107414    0.002397    0.679091     0.680405
bagging_tree_10      0.243349    0.007081    0.631135     0.916520
bagging_tree_100     2.295762    0.054757    0.635429     0.932477
randomforest_100     0.946868    0.038300    0.644160     0.932431
bagging_random_tree  0.918141    0.052463    0.642773     0.932431

In [184]:
#boosting
from sklearn.ensemble import AdaBoostRegressor, AdaBoostClassifier
estimator_adaboost = AdaBoostClassifier(n_estimators=100)

RESULTS["adaboost_100"]  = evaluate_model(estimator_adaboost)
display_results(RESULTS)

                     fit_time  score_time  test_score  train_score
tree                 0.034905    0.002793    0.610203     0.932492
log_reg              0.107414    0.002397    0.679091     0.680405
bagging_tree_10      0.243349    0.007081    0.631135     0.916520
bagging_tree_100     2.295762    0.054757    0.635429     0.932477
randomforest_100     0.946868    0.038300    0.644160     0.932431
bagging_random_tree  0.918141    0.052463    0.642773     0.932431
adaboost_100         0.746701    0.041291    0.682696     0.687660

In [185]:
#xgboost classifier
from xgboost import XGBRegressor, XGBClassifier
estimator_xgboost = XGBClassifier(n_estimators=500)

RESULTS["xgboost_500"] = evaluate_model(estimator_xgboost)

display_results(RESULTS)

                     fit_time  score_time  test_score  train_score
tree                 0.034905    0.002793    0.610203     0.932492
log_reg              0.107414    0.002397    0.679091     0.680405
bagging_tree_10      0.243349    0.007081    0.631135     0.916520
bagging_tree_100     2.295762    0.054757    0.635429     0.932477
randomforest_100     0.946868    0.038300    0.644160     0.932431
bagging_random_tree  0.918141    0.052463    0.642773     0.932431
adaboost_100         0.746701    0.041291    0.682696     0.687660
xgboost_500          2.998582    0.016058    0.683251     0.722422

### From the results table, we can see that logistic regression is the best model as it has the highest test score which tested accuracy as well as the highest train score, which tested the train data's performance

#### Splitting the data, fitting and predicting the model

In [186]:
#select logistic regression as the ideal model for predictions
model = LogisticRegression()

In [187]:
#high auc, thus the model is accurate
cross_val_score(
    model, X, y, scoring = "roc_auc", cv = 5
).mean()

0.7328991101457236

In [188]:
#splitting the data to prepare for predictions
from sklearn.model_selection import train_test_split
from sklearn import metrics
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.2,
                                                    random_state=42)

In [189]:
X_test_addback = X_test[['race_African-American','race_Caucasian','race_Other']]

drops = ['race_African-American','race_Caucasian','race_Other']
X_train = X_train.drop(drops, axis=1)
X_test = X_test.drop(drops, axis=1)

In [190]:
#added target and prediction to existing df
model.fit(X=X_train, y=y_train)
predictions = model.predict(X_test)

X_test["target"] = y_test.tolist()
X_test["prediction"] = predictions

In [191]:
X_rejoin = pd.concat([X_test, X_test_addback], axis = 1)

#### Looking for false positive and false negative rates and amounts as a sign of bias

In [192]:
#used a confusion matrix to identiy cases of false positives, searching for bias against african americans
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[616, 207],
       [251, 369]], dtype=int64)

In [193]:
X_rejoin['race_African-American'].sum()

731

In [194]:
X_rejoin['race_Caucasian'].sum()

505

In [195]:
#manipulate the existing df to only show false positive rows
false_positives = X_rejoin[(X_rejoin.target == 0.0) & (X_rejoin.prediction == 1.0)]
false_positives

,age,decile_score,priors_count,decile_score.1,v_decile_score,priors_count.1,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,target,prediction,race_African-American,race_Caucasian,race_Other
5952,26.0,5.0,2.0,5.0,4.0,2.0,0,1,1,0,0,0.0,1.0,0,1,0
676,22.0,9.0,3.0,9.0,8.0,3.0,0,1,0,0,1,0.0,1.0,1,0,0
6240,21.0,8.0,1.0,8.0,9.0,1.0,1,0,0,0,1,0.0,1.0,0,1,0
5321,21.0,4.0,1.0,4.0,6.0,1.0,0,1,0,0,1,0.0,1.0,0,1,0
5227,25.0,6.0,0.0,6.0,5.0,0.0,0,1,1,0,0,0.0,1.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2440,23.0,9.0,2.0,9.0,9.0,2.0,0,1,0,0,1,0.0,1.0,1,0,0
5292,56.0,4.0,13.0,4.0,1.0,13.0,0,1,0,1,0,0.0,1.0,0,1,0
2818,21.0,8.0,1.0,8.0,8.0,1.0,0,1,0,0,1,0.0,1.0,1,0,0
371,57.0,8.0,18.0,8.0,7.0,18.0,0,1,0,1,0,0.0,1.0,1,0,0
4956,21.0,10.0,2.0,10.0,8.0,2.0,0,1,0,0,1,0.0,1.0,0,1,0

In [196]:
print('Total amount of False Positives are 207')
print('\n')
print('African American false positive count: ' + str(false_positives['race_African-American'].sum()))
print('African American false positive rate is : ' + str(false_positives['race_African-American'].sum() / X_rejoin['race_African-American'].sum()))
print('\n')
print('Caucasian false positive count: ' + str(false_positives['race_Caucasian'].sum()))
print('Caucasian false positive rate is : ' + str(false_positives['race_Caucasian'].sum() / X_rejoin['race_Caucasian'].sum()))

Total amount of False Positives are 207


African American false positive count: 124
African American false positive rate is : 0.16963064295485636


Caucasian false positive count: 54
Caucasian false positive rate is : 0.10693069306930693

In [197]:
#manipulating data to show false negative rates
false_negatives = X_rejoin[(X_rejoin.target == 1.0) & (X_rejoin.prediction == 0.0)]
false_negatives

,age,decile_score,priors_count,decile_score.1,v_decile_score,priors_count.1,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,target,prediction,race_African-American,race_Caucasian,race_Other
3238,57.0,4.0,8.0,4.0,2.0,8.0,0,1,0,1,0,1.0,0.0,1,0,0
3858,52.0,1.0,2.0,1.0,1.0,2.0,1,0,0,1,0,1.0,0.0,1,0,0
132,28.0,2.0,0.0,2.0,3.0,0.0,0,1,1,0,0,1.0,0.0,0,1,0
4899,30.0,5.0,3.0,5.0,6.0,3.0,0,1,1,0,0,1.0,0.0,0,0,1
1042,32.0,2.0,2.0,2.0,2.0,2.0,0,1,1,0,0,1.0,0.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2609,32.0,3.0,0.0,3.0,2.0,0.0,1,0,1,0,0,1.0,0.0,1,0,0
730,45.0,4.0,0.0,4.0,2.0,0.0,0,1,0,1,0,1.0,0.0,1,0,0
290,54.0,2.0,6.0,2.0,1.0,6.0,0,1,0,1,0,1.0,0.0,0,1,0
3786,36.0,6.0,4.0,6.0,3.0,4.0,1,0,1,0,0,1.0,0.0,1,0,0
5548,33.0,3.0,2.0,3.0,2.0,2.0,0,1,1,0,0,1.0,0.0,0,1,0

In [198]:
print('Total amount of False Negatives are 251')
print('\n')
print('African American false negative count: ' + str(false_negatives['race_African-American'].sum()))
print('African American false negative rate is : ' + str(false_negatives['race_African-American'].sum() / X_rejoin['race_African-American'].sum()))
print('\n')
print('Caucasian false negative count: ' + str(false_negatives['race_Caucasian'].sum()))
print('Caucasian false negative rate is : ' + str(false_negatives['race_Caucasian'].sum() / X_rejoin['race_Caucasian'].sum()))

Total amount of False Negatives are 251


African American false negative count: 110
African American false negative rate is : 0.15047879616963064


Caucasian false negative count: 99
Caucasian false negative rate is : 0.19603960396039605

# Key Takeaway from Data

- African Americans have a higher false positive rate (__17% vs 10.6%__) and Caucasians have a higher false negative rate (__19.6% vs 15%__).
***
- This means that the COMPAS algorithm is more likely to identiy an African American as higher risk for recidivism and Caucasians as lower risk for recidivism