In [366]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.preprocessing import normalize
from sklearn.impute import SimpleImputer

from sklearn.ensemble import BaggingRegressor # default classifier is a DT
from sklearn.ensemble import AdaBoostRegressor
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestRegressor
from mlxtend.regressor import StackingRegressor

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import SCORERS

import seaborn as sns
sns.set(rc={'figure.figsize':(6,6)}) 
import warnings
warnings.simplefilter("ignore")

%matplotlib inline

# Using Two Year Data

In [367]:
df = pd.read_csv("data/compas-scores-two-years.csv")

In [368]:
pd.set_option('max_columns', 53)

In [369]:
#drop unecessary columns
drop_columns = ['compas_screening_date', 'juv_fel_count',
                'juv_misd_count','c_case_number','vr_charge_degree',
                'vr_offense_date','vr_charge_desc','c_arrest_date',
                'r_case_number', 'vr_case_number','start',
                'juv_other_count','days_b_screening_arrest','c_days_from_compas',
                'first','last','name','dob','c_jail_in','c_jail_out','c_offense_date',
                'c_charge_degree','c_charge_desc','r_charge_degree','r_days_from_arrest',
                'r_offense_date','r_charge_desc','r_jail_in','r_jail_out','violent_recid',
                'score_text','screening_date','v_score_text','v_screening_date','in_custody',
                'out_custody','id','end','type_of_assessment','v_type_of_assessment']
df = df.drop(drop_columns,axis=1)

In [370]:
df.head()

,sex,age,age_cat,race,decile_score,priors_count,is_recid,is_violent_recid,decile_score.1,v_decile_score,priors_count.1,event,two_year_recid
0,Male,69,Greater than 45,Other,1,0,0,0,1,1,0,0,0
1,Male,34,25 - 45,African-American,3,0,1,1,3,1,0,1,1
2,Male,24,Less than 25,African-American,4,4,1,0,4,3,4,0,1
3,Male,23,Less than 25,African-American,8,1,0,0,8,6,1,0,0
4,Male,43,25 - 45,Other,1,2,0,0,1,1,2,0,0

In [371]:
df.count()

sex                 7214
age                 7214
age_cat             7214
race                7214
decile_score        7214
priors_count        7214
is_recid            7214
is_violent_recid    7214
decile_score.1      7214
v_decile_score      7214
priors_count.1      7214
event               7214
two_year_recid      7214
dtype: int64

In [372]:
#only looking at african american vs caucasian, make every other race = other
df.race = df.race.replace({
    'Asian':'Other',
    'Hispanic':'Other',
    'Native American':'Other'
})

In [373]:
categorical_cols = df.select_dtypes(exclude=np.number).columns
numerical_cols = df.select_dtypes(np.number).columns

In [374]:
#taking care of nan in numerical columns
numerical = pd.DataFrame(
    SimpleImputer(strategy="median").fit_transform(df[numerical_cols]),
    columns=numerical_cols
)
numerical.head()

,age,decile_score,priors_count,is_recid,is_violent_recid,decile_score.1,v_decile_score,priors_count.1,event,two_year_recid
0,69.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,34.0,3.0,0.0,1.0,1.0,3.0,1.0,0.0,1.0,1.0
2,24.0,4.0,4.0,1.0,0.0,4.0,3.0,4.0,0.0,1.0
3,23.0,8.0,1.0,0.0,0.0,8.0,6.0,1.0,0.0,0.0
4,43.0,1.0,2.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0

In [375]:
#dealing with categorical columns to prepare for sklearn
categorical = pd.get_dummies(df[categorical_cols])
categorical.head()

,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,race_African-American,race_Caucasian,race_Other
0,0,1,0,1,0,0,0,1
1,0,1,1,0,0,1,0,0
2,0,1,0,0,1,1,0,0
3,0,1,0,0,1,1,0,0
4,0,1,1,0,0,0,0,1

In [376]:
#combining categorical and numerical columns to make final dataframe
df_new = pd.merge(numerical, categorical, left_index=True, right_index=True)
df_new.head()

,age,decile_score,priors_count,is_recid,is_violent_recid,decile_score.1,v_decile_score,priors_count.1,event,two_year_recid,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,race_African-American,race_Caucasian,race_Other
0,69.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0,1,0,1,0,0,0,1
1,34.0,3.0,0.0,1.0,1.0,3.0,1.0,0.0,1.0,1.0,0,1,1,0,0,1,0,0
2,24.0,4.0,4.0,1.0,0.0,4.0,3.0,4.0,0.0,1.0,0,1,0,0,1,1,0,0
3,23.0,8.0,1.0,0.0,0.0,8.0,6.0,1.0,0.0,0.0,0,1,0,0,1,1,0,0
4,43.0,1.0,2.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0,1,1,0,0,0,0,1

# Now that the dataframe is clean, use ensemble methods

In [377]:
target_variable = 'two_year_recid'
independent_variables = df_new.drop(columns=target_variable).columns
X = df_new[independent_variables]
y = df_new[target_variable]

In [378]:
def evaluate_model(estimator):
    cv_results = cross_validate(estimator, X, y, scoring='accuracy', n_jobs=-1, cv=10, return_train_score=True)
    return pd.DataFrame(cv_results).abs().mean().to_dict()

def display_results(results):
    results_df  = pd.DataFrame(results).T
    results_cols = results_df.columns
    for col in results_df:
        results_df[col] = results_df[col].apply(np.mean)
    return results_df

In [379]:
RESULTS = {}

In [380]:
#testing decision tree and logistic regression, and adding them to results df
RESULTS["tree"] = evaluate_model(DecisionTreeClassifier())
RESULTS["log_reg"] = evaluate_model(LogisticRegression())

pd.DataFrame.from_dict(RESULTS).T

         fit_time  score_time  test_score  train_score
tree     0.020145    0.002596    0.936926     0.997012
log_reg  0.120583    0.002495    0.969502     0.969504

In [381]:
#testing bagging classifier with 10 estimators
from sklearn.ensemble import BaggingRegressor, BaggingClassifier
estimator_bagging_10 = BaggingClassifier(n_estimators=10)
RESULTS["bagging_tree_10"] = evaluate_model(estimator_bagging_10)
display_results(RESULTS)

                 fit_time  score_time  test_score  train_score
tree             0.020145    0.002596    0.936926     0.997012
log_reg          0.120583    0.002495    0.969502     0.969504
bagging_tree_10  0.124766    0.005284    0.957303     0.994301

In [382]:
#testing bagging classifier with 100 estimators
estimator_bagging_100 = BaggingClassifier(n_estimators=100)
RESULTS["bagging_tree_100"] = evaluate_model(estimator_bagging_100)
display_results(RESULTS)

                  fit_time  score_time  test_score  train_score
tree              0.020145    0.002596    0.936926     0.997012
log_reg           0.120583    0.002495    0.969502     0.969504
bagging_tree_10   0.124766    0.005284    0.957303     0.994301
bagging_tree_100  1.156509    0.033815    0.962709     0.996981

In [383]:
#testing random forest classifier with 100 estimators
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
estimator_randomforest = RandomForestClassifier(n_estimators=100)

RESULTS["randomforest_100"] = evaluate_model(estimator_randomforest)
display_results(RESULTS)

                  fit_time  score_time  test_score  train_score
tree              0.020145    0.002596    0.936926     0.997012
log_reg           0.120583    0.002495    0.969502     0.969504
bagging_tree_10   0.124766    0.005284    0.957303     0.994301
bagging_tree_100  1.156509    0.033815    0.962709     0.996981
randomforest_100  0.556013    0.023836    0.963679     0.996981

In [384]:
#testing extra tree classifier as base estimator for the bagging classifier
from sklearn.tree import ExtraTreeClassifier

estimator_bagging_random_tree = BaggingClassifier(n_estimators=100,
                                    base_estimator=ExtraTreeClassifier())
RESULTS["bagging_random_tree"] = evaluate_model(estimator_bagging_random_tree)
display_results(RESULTS)

                     fit_time  score_time  test_score  train_score
tree                 0.020145    0.002596    0.936926     0.997012
log_reg              0.120583    0.002495    0.969502     0.969504
bagging_tree_10      0.124766    0.005284    0.957303     0.994301
bagging_tree_100     1.156509    0.033815    0.962709     0.996981
randomforest_100     0.556013    0.023836    0.963679     0.996981
bagging_random_tree  0.601792    0.040792    0.962987     0.996981

In [385]:
#boosting
from sklearn.ensemble import AdaBoostRegressor, AdaBoostClassifier
estimator_adaboost = AdaBoostClassifier(n_estimators=100)

RESULTS["adaboost_100"]  = evaluate_model(estimator_adaboost)
display_results(RESULTS)

                     fit_time  score_time  test_score  train_score
tree                 0.020145    0.002596    0.936926     0.997012
log_reg              0.120583    0.002495    0.969502     0.969504
bagging_tree_10      0.124766    0.005284    0.957303     0.994301
bagging_tree_100     1.156509    0.033815    0.962709     0.996981
randomforest_100     0.556013    0.023836    0.963679     0.996981
bagging_random_tree  0.601792    0.040792    0.962987     0.996981
adaboost_100         0.806641    0.034810    0.969502     0.969504

In [386]:
#xgboost classifier
from xgboost import XGBRegressor, XGBClassifier
estimator_xgboost = XGBClassifier(n_estimators=500)

RESULTS["xgboost_500"] = evaluate_model(estimator_xgboost)

display_results(RESULTS)

                     fit_time  score_time  test_score  train_score
tree                 0.020145    0.002596    0.936926     0.997012
log_reg              0.120583    0.002495    0.969502     0.969504
bagging_tree_10      0.124766    0.005284    0.957303     0.994301
bagging_tree_100     1.156509    0.033815    0.962709     0.996981
randomforest_100     0.556013    0.023836    0.963679     0.996981
bagging_random_tree  0.601792    0.040792    0.962987     0.996981
adaboost_100         0.806641    0.034810    0.969502     0.969504
xgboost_500          2.299159    0.017653    0.968809     0.970690

### From the results table, we can see that logistic regression is the best model as it has the highest test score which tested accuracy as well as the highest train score, which tested the train data's performance

In [387]:
#select random forest as the ideal model for predictions
model = LogisticRegression()

In [388]:
#high auc, thus the model is accurate
cross_val_score(
    model, X, y, scoring = "roc_auc", cv = 5
).mean()

0.9799867106227499

In [389]:
#splitting the data to prepare for predictions
from sklearn.model_selection import train_test_split
from sklearn import metrics
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.2,
                                                    random_state=42)

In [390]:
X_test_addback = X_test[['race_African-American','race_Caucasian','race_Other']]

drops = ['race_African-American','race_Caucasian','race_Other']
X_train = X_train.drop(drops, axis=1)
X_test = X_test.drop(drops, axis=1)

In [391]:
#added target and prediction to existing df
model.fit(X=X_train, y=y_train)
predictions = model.predict(X_test)

X_test["target"] = y_test.tolist()
X_test["prediction"] = predictions

In [392]:
X_rejoin = pd.concat([X_test, X_test_addback], axis = 1)

In [393]:
#used a confusion matrix to identiy cases of false positives, searching for bias against african americans
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[789,  34],
       [  0, 620]], dtype=int64)

In [394]:
#manipulate the existing df to only show false positive rows
false_positives = X_rejoin[(X_rejoin.target == 0.0) & (X_rejoin.prediction == 1.0)]
false_positives

,age,decile_score,priors_count,is_recid,is_violent_recid,decile_score.1,v_decile_score,priors_count.1,event,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,target,prediction,race_African-American,race_Caucasian,race_Other
6240,21.0,8.0,1.0,1.0,0.0,8.0,9.0,1.0,0.0,1,0,0,0,1,0.0,1.0,0,1,0
2646,30.0,3.0,1.0,1.0,0.0,3.0,2.0,1.0,1.0,0,1,1,0,0,0.0,1.0,1,0,0
5418,34.0,7.0,8.0,1.0,0.0,7.0,3.0,8.0,0.0,0,1,1,0,0,0.0,1.0,1,0,0
3563,25.0,9.0,2.0,1.0,0.0,9.0,7.0,2.0,0.0,0,1,1,0,0,0.0,1.0,1,0,0
3849,35.0,9.0,8.0,1.0,0.0,9.0,8.0,8.0,1.0,0,1,1,0,0,0.0,1.0,1,0,0
3012,39.0,3.0,2.0,1.0,0.0,3.0,1.0,2.0,1.0,0,1,1,0,0,0.0,1.0,1,0,0
1922,26.0,4.0,3.0,1.0,0.0,4.0,4.0,3.0,0.0,0,1,1,0,0,0.0,1.0,0,1,0
6176,57.0,1.0,7.0,1.0,0.0,1.0,1.0,7.0,1.0,0,1,0,1,0,0.0,1.0,0,1,0
2127,51.0,2.0,4.0,1.0,0.0,2.0,2.0,4.0,1.0,0,1,0,1,0,0.0,1.0,1,0,0
2732,35.0,3.0,2.0,1.0,0.0,3.0,4.0,2.0,0.0,0,1,1,0,0,0.0,1.0,0,1,0
1128,27.0,3.0,0.0,1.0,0.0,3.0,3.0,0.0,1.0,1,0,1,0,0,0.0,1.0,0,0,1
3010,29.0,10.0,5.0,1.0,0.0,10.0,8.0,5.0,1.0,0,1,1,0,0,0.0,1.0,1,0,0
3194,59.0,3.0,3.0,1.0,0.0,3.0,2.0,3.0,1.0,0,1,0,1,0,0.0,1.0,1,0,0
3107,35.0,7.0,5.0,1.0,1.0,7.0,5.0,5.0,1.0,0,1,1,0,0,0.0,1.0,0,0,1
2662,26.0,2.0,0.0,1.0,0.0,2.0,3.0,0.0,1.0,0,1,1,0,0,0.0,1.0,0,1,0
5937,29.0,5.0,2.0,1.0,0.0,5.0,4.0,2.0,0.0,0,1,1,0,0,0.0,1.0,0,1,0
334,23.0,3.0,1.0,1.0,0.0,3.0,4.0,1.0,1.0,1,0,0,0,1,0.0,1.0,0,0,1
5384,28.0,8.0,9.0,1.0,0.0,8.0,6.0,9.0,1.0,0,1,1,0,0,0.0,1.0,0,0,1
2574,52.0,5.0,7.0,1.0,0.0,5.0,1.0,7.0,0.0,0,1,0,1,0,0.0,1.0,1,0,0
1168,25.0,9.0,7.0,1.0,1.0,9.0,6.0,7.0,0.0,0,1,1,0,0,0.0,1.0,0,0,1
2271,21.0,8.0,1.0,1.0,1.0,8.0,8.0,1.0,1.0,0,1,0,0,1,0.0,1.0,1,0,0
5259,41.0,3.0,7.0,1.0,0.0,3.0,2.0,7.0,1.0,0,1,1,0,0,0.0,1.0,1,0,0
5787,40.0,3.0,2.0,1.0,1.0,3.0,3.0,2.0,0.0,0,1,1,0,0,0.0,1.0,1,0,0
1718,29.0,2.0,1.0,1.0,0.0,2.0,2.0,1.0,1.0,1,0,1,0,0,0.0,1.0,1,0,0
6456,46.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0,1,0,1,0,0.0,1.0,1,0,0
188,66.0,1.0,3.0,1.0,1.0,1.0,1.0,3.0,1.0,0,1,0,1,0,0.0,1.0,1,0,0
4180,28.0,2.0,2.0,1.0,0.0,2.0,3.0,2.0,0.0,0,1,1,0,0,0.0,1.0,1,0,0
2954,26.0,5.0,3.0,1.0,0.0,5.0,4.0,3.0,1.0,1,0,1,0,0,0.0,1.0,1,0,0
5170,48.0,2.0,3.0,1.0,0.0,2.0,1.0,3.0,0.0,0,1,0,1,0,0.0,1.0,0,1,0
5361,38.0,2.0,0.0,1.0,0.0,2.0,2.0,0.0,1.0,0,1,1,0,0,0.0,1.0,0,1,0
4303,34.0,3.0,0.0,1.0,1.0,3.0,2.0,0.0,0.0,0,1,1,0,0,0.0,1.0,0,1,0
5433,33.0,3.0,5.0,1.0,0.0,3.0,2.0,5.0,1.0,0,1,1,0,0,0.0,1.0,0,0,1
2818,21.0,8.0,1.0,1.0,0.0,8.0,8.0,1.0,0.0,0,1,0,0,1,0.0,1.0,1,0,0
4956,21.0,10.0,2.0,1.0,0.0,10.0,8.0,2.0,0.0,0,1,0,0,1,0.0,1.0,0,1,0

In [395]:
print('Total amount of False Positives are 34')
print('African American false positive count: ' + str(false_positives['race_African-American'].sum()))
print('Caucasian false positive count: ' + str(false_positives['race_Caucasian'].sum()))
print('Other false positive count: ' + str(false_positives['race_Other'].sum()))

Total amount of False Positives are 34
African American false positive count: 18
Caucasian false positive count: 10
Other false positive count: 6

### As shown in the table above, a majority of the false positives were African American cases, showing a bias in the COMPAS data