In [67]:
from IPython.display import Image
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter("ignore")
from sklearn.preprocessing import normalize
from sklearn.impute import SimpleImputer

import seaborn as sns
sns.set(rc={'figure.figsize':(6,6)})

# Using Two Year Data

In [68]:
df = pd.read_csv("data/compas-scores-two-years.csv")

In [69]:
#drop unecessary columns
drop_columns = ['compas_screening_date', 'juv_fel_count',
                'juv_misd_count','c_case_number','vr_charge_degree',
                'vr_offense_date','vr_charge_desc','c_arrest_date',
                'r_case_number', 'vr_case_number','start',
                'juv_other_count','days_b_screening_arrest','c_days_from_compas',
                'first','last','name','dob','c_jail_in','c_jail_out','c_offense_date',
                'c_charge_degree','c_charge_desc','r_charge_degree','r_days_from_arrest',
                'r_offense_date','r_charge_desc','r_jail_in','r_jail_out','violent_recid',
                'score_text','screening_date','v_score_text','v_screening_date','in_custody',
                'out_custody','id','end','type_of_assessment','v_type_of_assessment','is_recid','is_violent_recid','event']
df = df.drop(drop_columns,axis=1)

In [70]:
df.head()

,sex,age,age_cat,race,decile_score,priors_count,decile_score.1,v_decile_score,priors_count.1,two_year_recid
0,Male,69,Greater than 45,Other,1,0,1,1,0,0
1,Male,34,25 - 45,African-American,3,0,3,1,0,1
2,Male,24,Less than 25,African-American,4,4,4,3,4,1
3,Male,23,Less than 25,African-American,8,1,8,6,1,0
4,Male,43,25 - 45,Other,1,2,1,1,2,0

In [71]:
#only looking at african american vs caucasian, make every other race = other
df.race = df.race.replace({
    'Asian':'Other',
    'Hispanic':'Other',
    'Native American':'Other'
})

In [72]:
categorical_cols = df.select_dtypes(exclude=np.number).columns
numerical_cols = df.select_dtypes(np.number).columns

In [73]:
#taking care of nan in numerical columns
numerical = pd.DataFrame(
    SimpleImputer(strategy="median").fit_transform(df[numerical_cols]),
    columns=numerical_cols
)
numerical.head()

,age,decile_score,priors_count,decile_score.1,v_decile_score,priors_count.1,two_year_recid
0,69.0,1.0,0.0,1.0,1.0,0.0,0.0
1,34.0,3.0,0.0,3.0,1.0,0.0,1.0
2,24.0,4.0,4.0,4.0,3.0,4.0,1.0
3,23.0,8.0,1.0,8.0,6.0,1.0,0.0
4,43.0,1.0,2.0,1.0,1.0,2.0,0.0

In [74]:
#dealing with categorical columns to prepare for sklearn
categorical = pd.get_dummies(df[categorical_cols])
categorical.head()

,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,race_African-American,race_Caucasian,race_Other
0,0,1,0,1,0,0,0,1
1,0,1,1,0,0,1,0,0
2,0,1,0,0,1,1,0,0
3,0,1,0,0,1,1,0,0
4,0,1,1,0,0,0,0,1

In [75]:
#combining categorical and numerical columns to make final dataframe
df_new = pd.merge(numerical, categorical, left_index=True, right_index=True)
df_new.head()

,age,decile_score,priors_count,decile_score.1,v_decile_score,priors_count.1,two_year_recid,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,race_African-American,race_Caucasian,race_Other
0,69.0,1.0,0.0,1.0,1.0,0.0,0.0,0,1,0,1,0,0,0,1
1,34.0,3.0,0.0,3.0,1.0,0.0,1.0,0,1,1,0,0,1,0,0
2,24.0,4.0,4.0,4.0,3.0,4.0,1.0,0,1,0,0,1,1,0,0
3,23.0,8.0,1.0,8.0,6.0,1.0,0.0,0,1,0,0,1,1,0,0
4,43.0,1.0,2.0,1.0,1.0,2.0,0.0,0,1,1,0,0,0,0,1

In [76]:
df_new.to_csv('data/useful-two-year.csv')

# Model with Decision Tree using the clean data

#### Because we are looking for bias in the race column, we drop it and add it back later after our model fits and predicts the data

In [77]:
df_addback = df_new[['race_African-American','race_Caucasian','race_Other']]
drops = ['race_African-American','race_Caucasian','race_Other']
df_new = df_new.drop(drops, axis=1)

#define independent and dependent variables
target_variable = 'two_year_recid'
independent_variables = df_new.drop(columns=target_variable).columns
X = df_new[independent_variables]
y = df_new[target_variable]

In [78]:
df_new.head()

,age,decile_score,priors_count,decile_score.1,v_decile_score,priors_count.1,two_year_recid,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25
0,69.0,1.0,0.0,1.0,1.0,0.0,0.0,0,1,0,1,0
1,34.0,3.0,0.0,3.0,1.0,0.0,1.0,0,1,1,0,0
2,24.0,4.0,4.0,4.0,3.0,4.0,1.0,0,1,0,0,1
3,23.0,8.0,1.0,8.0,6.0,1.0,0.0,0,1,0,0,1
4,43.0,1.0,2.0,1.0,1.0,2.0,0.0,0,1,1,0,0

#### Model starts

In [79]:
#instantiate tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

tree = DecisionTreeClassifier()

In [80]:
#high auc, thus the model is accurate
cross_val_score(
    tree, X, y, scoring = "roc_auc", cv = 5
).mean()

0.5967824015075773

In [81]:
tree.fit(X, y)
tree.predict(X)[:10]

array([0., 1., 1., 0., 0., 0., 1., 0., 0., 0.])

In [82]:
#check which features are most important: age and is_recid are 2 high impacting factors
dict(zip(
    independent_variables,
    tree.feature_importances_
))

{'age': 0.3143031187426797,
 'decile_score': 0.1785203992901469,
 'priors_count': 0.12392960191344109,
 'decile_score.1': 0.07873412885080189,
 'v_decile_score': 0.17166180036263953,
 'priors_count.1': 0.07733041334348549,
 'sex_Female': 0.01859792388749464,
 'sex_Male': 0.019661215575479608,
 'age_cat_25 - 45': 0.010299905020670852,
 'age_cat_Greater than 45': 0.0024147510806037478,
 'age_cat_Less than 25': 0.004546741932556611}

In [83]:
#testing for different depths to see which one will give the best accuracy
depths = np.arange(2,10) # define the depths
results = [] # create an empty data frame for our results

for depth in depths:
    best_depth_tree = DecisionTreeClassifier(max_depth = depth) # creating an instance of a decision tree
    results.append(cross_val_score(best_depth_tree, X, 
                                   y, scoring="roc_auc", # getting the cv accuracy metric for the tree at each depth
                cv=3).mean())

In [84]:
# a depth of 5 will give the best accuracy
test = pd.DataFrame({'depths':depths, 'mean_roc_auc':results})
test.sort_values("mean_roc_auc", ascending=False)

   depths  mean_roc_auc
3       5      0.723594
4       6      0.721493
2       4      0.718966
5       7      0.716325
1       3      0.710308
6       8      0.701493
0       2      0.687591
7       9      0.684997

#### Running a different model based on the best depth

In [85]:
# running a model on a tree with max depth 5 for best accuracy
simple_tree = DecisionTreeClassifier(max_depth=5)
simple_tree.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [86]:
simple_tree.fit(X, y)
predictions = simple_tree.predict(X)

In [87]:
# add predictions and race back to the dataframe
df_new['predictions'] = predictions
df_rejoin = pd.concat([df_new, df_addback], axis = 1)

In [88]:
df_rejoin.head()

,age,decile_score,priors_count,decile_score.1,v_decile_score,priors_count.1,two_year_recid,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,predictions,race_African-American,race_Caucasian,race_Other
0,69.0,1.0,0.0,1.0,1.0,0.0,0.0,0,1,0,1,0,0.0,0,0,1
1,34.0,3.0,0.0,3.0,1.0,0.0,1.0,0,1,1,0,0,0.0,1,0,0
2,24.0,4.0,4.0,4.0,3.0,4.0,1.0,0,1,0,0,1,1.0,1,0,0
3,23.0,8.0,1.0,8.0,6.0,1.0,0.0,0,1,0,0,1,0.0,1,0,0
4,43.0,1.0,2.0,1.0,1.0,2.0,0.0,0,1,1,0,0,0.0,0,0,1

#### False Positives and False Negatives

In [89]:
#searching for false positives as an indicator of bias
false_positives = df_rejoin[(df_rejoin.two_year_recid == 0.0) & (df_rejoin.predictions == 1.0)]
false_positives

,age,decile_score,priors_count,decile_score.1,v_decile_score,priors_count.1,two_year_recid,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,predictions,race_African-American,race_Caucasian,race_Other
17,25.0,10.0,3.0,10.0,9.0,3.0,0.0,0,1,1,0,0,1.0,1,0,0
35,26.0,8.0,6.0,8.0,8.0,6.0,0.0,0,1,1,0,0,1.0,0,1,0
40,21.0,8.0,2.0,8.0,8.0,2.0,0.0,1,0,0,0,1,1.0,1,0,0
54,31.0,5.0,15.0,5.0,7.0,15.0,0.0,0,1,1,0,0,1.0,1,0,0
58,53.0,5.0,8.0,5.0,2.0,8.0,0.0,0,1,0,1,0,1.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7158,21.0,6.0,1.0,6.0,5.0,1.0,0.0,0,1,0,0,1,1.0,1,0,0
7167,30.0,9.0,2.0,9.0,7.0,2.0,0.0,0,1,1,0,0,1.0,0,1,0
7169,22.0,5.0,0.0,5.0,7.0,0.0,0.0,0,1,0,0,1,1.0,1,0,0
7198,32.0,5.0,4.0,5.0,3.0,4.0,0.0,0,1,1,0,0,1.0,1,0,0
7208,20.0,9.0,0.0,9.0,9.0,0.0,0.0,0,1,0,0,1,1.0,1,0,0

In [90]:
print('African American false positive count: ' + str(false_positives['race_African-American'].sum()))
print('African American false positive rate is : ' + str(false_positives['race_African-American'].sum() / df_rejoin['race_African-American'].sum()))
print('\n')
print('Caucasian false positive count: ' + str(false_positives['race_Caucasian'].sum()))
print('African American false positive rate is : ' + str(false_positives['race_Caucasian'].sum() / df_rejoin['race_Caucasian'].sum()))

African American false positive count: 538
African American false positive rate is : 0.14556277056277056


Caucasian false positive count: 210
African American false positive rate is : 0.08557457212713937

In [91]:
#searching for false negatives as an indicator of bias
false_negatives = df_rejoin[(df_rejoin.two_year_recid == 1.0) & (df_rejoin.predictions == 0.0)]
false_negatives

,age,decile_score,priors_count,decile_score.1,v_decile_score,priors_count.1,two_year_recid,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,predictions,race_African-American,race_Caucasian,race_Other
1,34.0,3.0,0.0,3.0,1.0,0.0,1.0,0,1,1,0,0,0.0,1,0,0
9,21.0,3.0,1.0,3.0,5.0,1.0,1.0,0,1,0,0,1,0.0,0,1,0
14,47.0,1.0,1.0,1.0,1.0,1.0,1.0,1,0,0,1,0,0.0,0,1,0
22,27.0,2.0,0.0,2.0,3.0,0.0,1.0,0,1,1,0,0,0.0,0,1,0
24,24.0,4.0,1.0,4.0,5.0,1.0,1.0,0,1,0,0,1,0.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7189,34.0,2.0,3.0,2.0,2.0,3.0,1.0,0,1,1,0,0,0.0,1,0,0
7190,24.0,3.0,2.0,3.0,4.0,2.0,1.0,0,1,0,0,1,0.0,1,0,0
7194,30.0,1.0,2.0,1.0,1.0,2.0,1.0,1,0,1,0,0,0.0,0,1,0
7207,30.0,2.0,0.0,2.0,2.0,0.0,1.0,0,1,1,0,0,0.0,1,0,0
7213,23.0,4.0,2.0,4.0,4.0,2.0,1.0,1,0,0,0,1,0.0,0,0,1

In [92]:
print('African American false negative count: ' + str(false_negatives['race_African-American'].sum()))
print('African American false negative rate is : ' + str(false_negatives['race_African-American'].sum() / df_rejoin['race_African-American'].sum()))
print('\n')
print('Caucasian false negative count: ' + str(false_negatives['race_Caucasian'].sum()))
print('Caucasian false negative rate is : ' + str(false_negatives['race_Caucasian'].sum() / df_rejoin['race_Caucasian'].sum()))

African American false negative count: 615
African American false negative rate is : 0.1663961038961039


Caucasian false negative count: 535
Caucasian false negative rate is : 0.2180114099429503

# Key Takeaway from Data

- African Americans have a higher false positive rate (__14.5% vs 8.5%__) and Caucasians have a higher false negative rate (__22% vs 16.6%__).
***
- This means that the COMPAS algorithm is more likely to identiy an African American as higher risk for recidivism and Caucasians as lower risk for recidivism